#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
  width: 33vw;
  padding: 24px;
}

.login__form {
  width: 50%;
}

.login__image {
  width: 300px;
  border-radius: 0.7em;
  max-height: 500px;
}